# Compiled class files
*.class

# Build directories
/target/
/build/
/out/

# IDE files
.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# Server files
/server/
/plugins/

# Gradle files
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Maven files
.mvn/
mvnw
mvnw.cmd

# OS specific files
.DS_Store
Thumbs.db 